 
/*/ web site 전체 CSS 스타일 /*/
 
/*/ tag 단위/ */

h1{
color : DarkBlue ; 
text-align : center;
font-size : 3em;
}
    
body {
background-color : PowderBlue;
margin-left: 100px;
margin-right: 100px;
border : 3px solid gray;
}

hr{
  border : 3px solid gray;
}

/* nav bar를 center에 맞추기 위한 설정*/
/* ?정확하게 맞추는 방법은? */
nav{
margin-left: 35%;
}
   
   
/*/ attribute 단위 /*/
   
   
/* navigation area */
    
/* [nav] box model */
.navigationArea{
background : MediumTurquoise;
    
}
/* [nav] mouse over */
#mouseOver:hover{
background : red;
}
    
    
/* fixedBar */
/*? body tag의 사이즈에 맞추기가 어려움.... body tag에 사이즈가 맞는 home page img와 실행 결과가 다름 */
#fixedBar{
    
/* 유형(타입)과 위치 */
display : block;
    
top : 10px;
position : fixed;
    
margin-left: auto;
margin-right: auto;
    
/* 사이즈 */
box-sizing : border-box;
width : 85%;					/* ? 요녀석을 조정해야함 */
padding : 20px;
    
    
/* 기타 */
background : skyblue;
}
/* fixedBar END */
   