


/* tag 단위 css */

h3{
    text-align : center;
}
	
ol{
    display: table;
    margin-left: auto;
    margin-right: auto;
}





/* property(변수) 단위 css */

.joinInfo{
    display : inline-block;
    
    margin : 5px;
    
    /* web form의 중앙정렬를 맞추기 위한 설정*/
	width : 45%;
    text-align: right;
}
	
.mail{
	text-align : center;
}  
	